<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Salão de Beleza v0</title>
</head>
<body>
        <div class="menu">
        <div class="coisas-menu">
            <h2 class="menu-nome">Salão de Beleza</h2>
            <ul class="menu-item">
                <li><a onmouseout="voltaCor('conhecanos')" onmouseover="mudaCor('conhecanos')" id="conhecanos" href="">Conheça-nos</a></li>
                <li><a onmouseout="voltaCor('contato')" onmouseover="mudaCor('contato')" id="contato" href="cadastro.html">Contato</a></li>
                <li><a onmouseout="voltaCor('agendamentos')" onmouseover="mudaCor('agendamentos')" id="agendamentos" href="">Agendamentos</a></li>
            </ul>
        </div> 
    </div>

    <h1 class="titulo">Principais Serviços do Salão</h1>
    <!-- Aqui eu quero que o conteúdo das páginas apareça -->
    {{{body}}}
    <h1>Aqui vai ser o rodapé</h1>
    <script src="/js/scripts.js"></script>
</body>
</html>